[package]
name = "game-of-estimates"
version = "0.1.0"
authors = ["Richard Liebscher <r1tschy@posteo.de>"]
description = "Simple web planning poker game"
edition = "2018"
license = "MIT"
rust-version = "1.56"
repository = "https://github.com/R1tschY/game-of-estimates"
categories = ["games"]
publish = false

[dependencies]
tokio = { version = "^1.16", features = ["macros", "sync", "net", "rt-multi-thread", "time", "signal"] }
tokio-tungstenite = "^0.16.1"
tokio-native-tls = "^0.3.0"
env_logger = "^0.9.0"
futures-util = "^0.3.12"
log = "^0.4.14"
serde = { version = "^1.0.136", features = ["derive"] }
serde_json = "^1.0.62"
rand = "^0.8.3"
quick-error = "^2.0.0"
async-trait = "^0.1.52"
uactor = { path = "components/uactor" }
chassis = "^0.1.1"

[dev-dependencies]
ctor = "0.1.19"

[workspace]
members = [
    "components/uactor"
]