[package]
name = "game_of_estimates"
version = "0.1.0"
authors = ["R1tschY <r1tschy@posteo.de>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "^0.2.22", features = ["macros", "sync"] }
tokio-tungstenite = "^0.11.0"
env_logger = "^0.7.1"
futures-util = "^0.3.5"
log = "^0.4.11"
serde = { version = "^1.0.116", features = ["derive"] }
serde_json = "^1.0.57"
rand = "^0.7.3"
quick-error = "^2.0.0"
async-trait = "^0.1.40"
uactor = { path = "components/uactor" }

[workspace]
members = [
    "components/uactor"
]