[package]
name = "game-of-estimates"
version = "0.1.0"
authors = ["R1tschY <r1tschy@posteo.de>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "^1.0", features = ["macros", "sync", "net", "rt-multi-thread", "time", "signal"] }
tokio-tungstenite = "^0.13.0"
tokio-native-tls = "^0.3.0"
env_logger = "^0.8.3"
futures-util = "^0.3.12"
log = "^0.4.14"
serde = { version = "^1.0.123", features = ["derive"] }
serde_json = "^1.0.62"
rand = "^0.8.3"
quick-error = "^2.0.0"
async-trait = "^0.1.42"
uactor = { path = "components/uactor" }
chassis = "^0.1.1"

[dev-dependencies]
ctor = "0.1.19"

[workspace]
members = [
    "components/uactor"
]