version: "3"

services:
  db:
    image: postgres:15
    ports:
      - "5888:5432"
    environment:
      POSTGRES_USER: developer
      POSTGRES_PASSWORD: developer
      POSTGRES_DB: goe
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - "db:/var/lib/postgresql/data"
#  game-of-estimates:
#    build:
#      context: .
#    ports:
#      - "5500:5500"
#    environment:
#      GOE_LISTEN_ADDR: 0.0.0.0:5500
#      RUST_LOG: info


volumes:
  db: