{{#> layout }}
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">Game Of Estimates</a>
        </div>
    </nav>

    <div id="room-container" data-roomid="{{ roomId }}"></div>

    <script type="module" crossorigin="" src="{{ asset 'assets/room.js' }}"></script>
{{/layout}}