@charset "utf-8";
@use "colors";

@use 'bulma/sass/utilities' as utils with (
  $primary: colors.$tt-orange,
);

@forward "bulma/sass/base";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/title";
@forward "bulma/sass/elements/notification";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/helpers/typography";
@forward "bulma/sass/layout/section" with (
  $section-padding: 1rem 0.5rem,
  $section-padding-desktop: 1rem 1rem,
);
@forward "bulma/sass/layout/footer";
@forward "bulma/sass/layout/hero";
@forward "bulma/sass/grid/columns";
@forward "bulma/sass/form/shared";
@forward "bulma/sass/form/select";
@forward "bulma/sass/form/tools";
@forward "bulma/sass/components/modal";

@forward "bulma/sass/themes";

@import 'bulma-switch';