@charset "utf-8";
@use 'colors';
@use 'sass:map';

@use 'bulma/sass/utilities' as utils with (
    $primary: map.get(colors.$primary, 100),
    $cssvars-prefix: 'b-',
    $radius-small: 2px,
    $radius: 4px,
    $radius-medium: 8px,
    $radius-large: 12px,
    $link: map.get(colors.$link, 500),
    $success: map.get(colors.$success, 500),
    $warning: map.get(colors.$warning, 500),
    $info: map.get(colors.$info, 500),
    $danger: map.get(colors.$danger, 500)
);

@forward 'bulma/sass/base';
@forward 'bulma/sass/elements/button';
@forward 'bulma/sass/elements/title';
@forward 'bulma/sass/elements/notification';
@forward 'bulma/sass/elements/content';
@forward 'bulma/sass/elements/box';
@forward 'bulma/sass/components/modal';
@forward 'bulma/sass/components/navbar';
@forward 'bulma/sass/helpers/typography';
@forward 'bulma/sass/helpers/flexbox';
@forward 'bulma/sass/helpers/visibility';
@forward 'bulma/sass/helpers/spacing';
@forward 'bulma/sass/layout/section' with (
    $section-padding: 1rem 0.5rem,
    $section-padding-desktop: 1rem 1rem
);
@forward 'bulma/sass/layout/footer';
@forward 'bulma/sass/layout/hero';
@forward 'bulma/sass/layout/container';
@forward 'bulma/sass/grid/columns';
@forward 'bulma/sass/form/shared';
@forward 'bulma/sass/form/select';
@forward 'bulma/sass/form/tools';
@forward 'bulma/sass/form/input-textarea';

@forward 'bulma/sass/themes';

@import 'bulma-switch';
