@charset "utf-8";

$caf-noir: #45361bff;
$caribbean-current: #2f717eff;
$avocado: #4f8426ff;
$dutch-white: #f3e2c2ff;
$rust: #b64a1bff;

$primary: $rust;
$link: $rust;
$info: $caribbean-current;
$danger: $caribbean-current;
$warning: $caribbean-current;
$success: $avocado;
$bg: $dutch-white;
