@use 'defaults';

/* Flex */

.g-flex {
    display: flex;
}

.g-gap-1 {
    gap: defaults.$size-1;
}

.g-gap-2 {
    gap: defaults.$size-2;
}

.g-gap-3 {
    gap: defaults.$size-3;
}

.g-gap-4 {
    gap: defaults.$size-4;
}

.g-gap-5 {
    gap: defaults.$size-5;
}

.g-gap-6 {
    gap: defaults.$size-6;
}

/* Button */

.g-btn {
}
