name: Check + Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Build frontend
        run: npm install && npm run build
        working-directory: frontend

      - name: Setup Rust toolchain
        run: |
          rustup toolchain install stable --profile minimal --no-self-update -c clippy -c rustfmt -t x86_64-unknown-linux-musl
          rustup default stable
        shell: bash

      - name: "Set environment variables used by Rust toolchain"
        run: |
          echo CARGO_TERM_COLOR=always >> $GITHUB_ENV
          echo CARGO_INCREMENTAL=0 >> $GITHUB_ENV
          echo RUST_BACKTRACE=1 >> $GITHUB_ENV
          
          rustc --version --verbose
        shell: bash

      - name: Fmt
        run: cargo fmt --all -- --check

      - name: Build binary
        run: cargo build --release

      - name: Clippy
        run: cargo clippy

      - name: Test
        run: cargo test --release

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DH_USER }}
          password: ${{ secrets.DH_PAT }}

      - name: Build and push container image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: R1tschY/game-of-estimates:unreleased
